{% extends 'instagram/layout.html' %} {% block content %}
<style>
  .chat-img-circle {
    border: 3px solid white;
    border-radius: 50%;
    max-height: 48px;
    max-width: 48px;
    position: sticky;
  }

  .diag-header {
    display: flex;
    align-items: center;
  }

  .small-img-circle {
    border-radius: 50%;
    max-height: 24px;
    max-width: 24px;
    margin: 1px;
  }

  #send-msg {
    width: 100%;
    resize: vertical;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 50px;
    margin-bottom: 2px;
      background: #e4b4ff;
  }
</style>
<div class="row" style="border: 1px black solid; border-radius: 10px;">
  <!-- diag header -->
  <div class="diag-header">
    <div>
      <img src="{{target.profile.image.url}}" class="chat-img-circle" alt="" />
    </div>
    <div>
      <b id="target">{{ target.username }}</b>
    </div>
  </div>
  <div class="diag-window">
    {% for msg in msgs %}
    <!-- Сообщения от текущего пользователя справа, а от "цели" - слева -->
    <div style="">
      <a href="" style="text-decoration: none; font-size: 18px;">
        {{ msg.sender }}
      </a>
    </div>
    <div class="mb-2">
      <p style="font-size: 16px;">{{ msg.text }}</p>
      <p style="font-size: 10px;">{{ msg.timestamp }}</p>
    </div>
    {% endfor %}
  </div>
  <div class="diad-sendmsg">
    <hr />
{#    <form action="" method="post">#}
{#      {%csrf_token%}#}
{#      {{msg_form.text}}#}
{#      <input type="submit" class="form-control" value="Send" id="send-message">#}
{#    </form>#}
      <input type="text" id="send-msg">
      <button id="send-message" value="Send">Send</button>
  </div>
</div>
    <script>
    const socket = new WebSocket(
        'ws://'
        +window.location.host
        +'/chat/'
        +'{{target.username}}'
        +'/'
    );
    socket.onmessage = (e)=>{
        const data = JSON.parse(e.data);
        console.log(data);
    };
    document.querySelector('#send-message').onclick = (e)=>{
        e.preventDefault();
        const msg = document.querySelector('#send-msg').value;
        socket.send(JSON.stringify({
            'text':msg,
            'sender':{{ request.user }},
            'recipient':{{ target.username }}
        }));
        msg.value = '';
    }
    </script>
{% endblock content %}