{% extends 'instagram/layout.html' %} {% block content %} {% load chat_tags %}
<style>
  .chats-window {
    border: 1px black solid;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .chats-chat {
    border: 0.25px grey solid;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  .chat-img-circle {
    border: 3px solid white;
    border-radius: 50%;
    max-height: 56px;
    max-width: 56px;
    position: sticky;
    margin-right: 5px;
  }
  .chat-link {
    text-decoration: none;
    color: black;
  }
  .chat-link:hover {
    background: rgba(181, 172, 172, 0.517);
    text-decoration: none;
  }
</style>
<div class="row chats-window">
  <div class="col-lg">
    {% for chat in chats %}
    <a
      href="{% url 'chat:chats-dialog' chatname=chat.name %}"
      style="text-decoration: none;"
    >
      {{chat.name}}
    </a>
    {% endfor %}
  </div>
</div>
<!--  -->
{% endblock content %}
