{% extends "instagram/layout.html" %}
{% load instagram_tags %}
{% block content %}
<div class="content-section">
    <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            {{form.content}}
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            {{form.image}}
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">Tags <small class="text-muted">(enter without "#" and with spaces for
                    many tags)</small></label>
            <!-- FIXME tag displaying -->
            {{form.tags}}
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
{% endblock content %}