{% extends 'instagram/layout.html' %}
{% load static %}
{% block content %}
<h3>{{target}}</h3>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Followers</th>
            <th>Following</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><img src="{{ request.user.profile.image.url }}" alt="..."
                    style="width: 36px;height: 36px;border-radius: 50%;margin-right: 5px;"><a
                    href="{% url 'user:profile' user.username %}">{{user.username}}</a></td>
            <td><b style="font-size: 22px;">{{ user.profile.followers_count }}</b></td>
            <td><b style="font-size: 22px;">{{ user.profile.following_count }}</b></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}