{% extends "instagram/layout.html" %}
{% load crispy_forms_tags %}
{% load tags %}
{% block content %}
<!-- user vars -->
{% get_user_posts user as posts %}
<div class="card mb-2">
    <div class="row g-0">
        <div class="col-md-4" style="padding: 10;">
            <img src="{{user.profile.image.url}}" class="img-fluid" alt="..."
                style="width: 160px;height:160px;overflow: hidden;border-radius: 50%;margin-left:60px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="p-4 d-flex text-left">
                    <h4 class="card-title">
                        {{user.username}}
                        {% if request.user != user %}
                        {% is_following request.user user as flw %}
                        {% if flw %}
                        <button id="follow-btn" class="btn btn-link text-dark p-0 border-0 btn-outline-light"
                            value="{{ user.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" id='flw-icon'
                                    d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                                    id='flw-icon-s' />
                            </svg></button>
                        {% else %}
                        <button id="follow-btn" class="btn btn-link text-dark p-0 border-0 btn-outline-light"
                            value="{{ user.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                <path id='flw-icon'
                                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                <path fill-rule="evenodd" id='flw-icon-s'
                                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg></button>
                        {% endif %}
                        {% endif %}
                        <br>
                        <small class="text-muted">{{user.first_name}}</small>
                        <hr style="margin: 0;">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                {{posts.count}}<small class="text-muted"> <i class="fas fa-image mr-1"></i>Posts</small>
                            </li>
                            <li class="list-inline-item" id="followers">
                                {{user.profile.followers.count}}<small class="text-muted"> <i
                                        class="fas fa-user mr-1"></i>Followers</small>
                            </li>
                            <li class="list-inline-item">
                                {{user.profile.following.count}}<small class="text-muted"> <i
                                        class="fas fa-user mr-1"></i>Following</small>
                            </li>
                        </ul>
                    </h4>
                </div>
                <div class="p-4 d-flex text-left">
                    {{user.profile.bio}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for post in posts %}
    <div class="col-lg-6 mb-1" style="padding:2px;">
        <a href="{% url 'instagram:post-detail' post.id %}"><img src="{{post.image.url}}" alt=""
                class="img-fluid rounded shadow-sm"></a>
    </div>
    {% endfor %}
</div>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $(document).on('click', '#follow-btn', (e) => {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '{% url "user:follow" %}',
            data: {
                id: $('#follow-btn').val(),
                csrfmiddlewaretoken: getCookie('csrftoken'),
                action: 'post'
            },
            success: (json) => {
                console.log(json)
                document.getElementById("followers").innerHTML = json['result'] + '<small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>';
                attr1 = ''
                attr2 = ''
                if (json['flw']) {
                    attr1 = 'M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z'
                    attr2 = 'M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'
                }
                else {
                    attr1 = 'M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z'
                    attr2 = 'M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z'
                }
                document.getElementById("flw-icon").setAttribute("d", attr1);
                document.getElementById("flw-icon-s").setAttribute("d", attr2);
            },
            error: (xhr, errmsg, err) => { }
        });
    })
</script>
{% endblock content %}